# Created by .ignore support plugin (hsz.mobi)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
cmake-build-*/
.idea/**/mongoSettings.xml
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
.idea/caches/build_file_checksums.ser

/docs/build/
/docs/build/html/.buildinfo
/docs/build/html/_static/_stemmer.js
/.idea/Support-pp.iml
/docs/build/doctrees/modules/notification-api.doctree
/docs/build/doctrees/test/test.doctree
/docs/build/html/_static/fonts/Roboto-Slab-Regular.woff2
/docs/build/html/_images/header.jpeg
/docs/build/html/_static/plus.png
/docs/build/html/_static/documentation_options.js
/docs/build/html/_static/fonts/Roboto-Slab-Light.woff
/docs/build/html/_sources/modules/notification-api.rst.txt
/docs/build/html/_static/js/html5shiv.min.js
/docs/build/doctrees/developer/teams-notify-api.doctree
/docs/build/html/_static/fonts/Roboto-Slab-Bold.woff2
/docs/build/html/_images/slack-teams-graph.png
/docs/build/html/_images/embed-false1.png
/docs/build/html/developer/notification-api.html
/docs/build/html/_static/doctools.js
/docs/build/html/_static/css/fonts/lato-normal.woff
/docs/build/html/_static/css/fonts/lato-bold.woff2
/docs/build/html/_static/css/fonts/lato-bold-italic.woff2
/docs/build/html/index.html
/docs/build/html/_static/fonts/Lato/lato-bold.woff2
/docs/build/html/_static/language_data.js
/docs/build/html/_static/fonts/RobotoSlab/roboto-slab-v7-bold.ttf
/docs/build/html/_static/fonts/lato-bold.woff
/docs/build/html/_static/css/fonts/fontawesome-webfont.eot
/docs/build/html/_static/fonts/RobotoSlab/roboto-slab-v7-bold.woff2
/docs/build/doctrees/developer/notification-api.doctree
/docs/build/html/_static/fonts/Lato/lato-italic.woff
/docs/build/html/objects.inv
/docs/build/html/_images/header1.jpeg
/docs/build/html/_static/images/developer/notification-api/header.jpeg
/docs/build/html/_static/underscore-1.3.1.js
/docs/build/html/search.html
/docs/build/html/_static/fonts/RobotoSlab/roboto-slab-v7-regular.eot
/docs/build/html/_static/css/fonts/Roboto-Slab-Bold.woff2
/.idea/modules.xml
/docs/build/html/_static/js/html5shiv-printshiv.min.js
/docs/build/html/_static/fonts/RobotoSlab/roboto-slab-v7-bold.woff
/docs/build/html/_static/fonts/RobotoSlab/roboto-slab-v7-bold.eot
/docs/build/html/_static/fonts/lato-normal.woff2
/docs/build/html/_static/fonts/Lato/lato-bolditalic.woff2
/docs/build/html/_static/fonts/RobotoSlab/roboto-slab-v7-regular.woff
/docs/build/html/_static/fonts/fontawesome-webfont.woff2
/docs/build/doctrees/environment.pickle
/docs/build/html/_static/file.png
/docs/build/html/_static/images/developer/teams-notify-api/header.jpeg
/docs/build/html/_static/css/fonts/fontawesome-webfont.ttf
/docs/build/html/_static/fonts/Lato/lato-italic.eot
/docs/build/html/_static/underscore.js
/docs/build/html/_static/css/fonts/lato-bold.woff
/docs/build/html/_static/images/developer/notification-api/embed-false.png
/docs/build/html/_static/fonts/Roboto-Slab-Thin.woff
/docs/build/html/searchindex.js
/docs/build/html/_images/embed-true1.png
/docs/build/html/_sources/developer/notification-api.rst.txt
/docs/build/html/_static/css/fonts/Roboto-Slab-Bold.woff
/docs/build/html/_static/pygments.css
/docs/build/html/_static/fonts/Roboto-Slab-Bold.woff
/docs/build/html/_static/basic.css
/docs/build/html/_static/fonts/Lato/lato-bold.eot
/docs/build/html/_static/fonts/lato-normal-italic.woff2
/docs/build/html/_static/fonts/fontawesome-webfont.svg
/docs/build/html/developer/discord-notify-api.html
/docs/build/html/_static/images/modules/notification-api/header.jpeg
/docs/build/doctrees/index.doctree
/docs/build/html/_static/translations.js
/docs/build/html/_sources/index.rst.txt
/docs/build/html/test/test.html
/docs/build/html/_static/fonts/Lato/lato-regular.woff2
/docs/build/html/_static/fonts/Lato/lato-italic.ttf
/docs/build/html/_static/fonts/lato-bold-italic.woff2
/docs/build/html/_static/fonts/Lato/lato-bold.ttf
/docs/build/html/_static/fonts/lato-normal.woff
/docs/build/html/_static/fonts/Roboto-Slab-Thin.woff2
/docs/build/html/_static/js/theme.js
/docs/build/html/_static/fonts/Lato/lato-regular.woff
/docs/build/html/developer/teams-notify-api.html
/docs/build/html/_static/fonts/fontawesome-webfont.ttf
/docs/build/html/_static/fonts/Lato/lato-bolditalic.eot
/docs/build/html/_static/css/fonts/Roboto-Slab-Regular.woff
/docs/build/html/_static/fonts/fontawesome-webfont.eot
/docs/build/html/_static/jquery-3.5.1.js
/.idea/vcs.xml
/docs/build/html/_static/fonts/Roboto-Slab-Regular.woff
/docs/build/html/_sources/test/test.rst.txt
/docs/build/html/_static/fonts/Lato/lato-regular.eot
/docs/build/html/_static/css/fonts/fontawesome-webfont.svg
/docs/build/html/_sources/developer/teams-notify-api.rst.txt
/docs/build/html/_static/fonts/Lato/lato-regular.ttf
/docs/build/html/_static/images/developer/teams-notify-api/embed-true.png
/docs/build/html/_static/js/modernizr.min.js
/docs/build/html/_static/fonts/RobotoSlab/roboto-slab-v7-regular.woff2
/docs/build/html/_static/images/modules/notification-api/embed-true.png
/docs/build/html/_static/css/fonts/lato-normal.woff2
/docs/build/html/_static/fonts/Lato/lato-bolditalic.woff
/docs/build/html/_images/embed-true.png
/docs/build/html/_static/fonts/RobotoSlab/roboto-slab-v7-regular.ttf
/docs/build/html/_static/images/developer/discord-notify-api/embed-false.png
/docs/build/html/_static/jquery.js
/docs/build/html/_static/fonts/Lato/lato-bolditalic.ttf
/docs/build/html/_static/fonts/Lato/lato-bold.woff
/docs/build/html/_static/js/badge_only.js
/docs/build/html/_static/images/developer/teams-notify-api/slack-teams-graph.png
/docs/build/html/_static/css/fonts/lato-bold-italic.woff
/docs/build/html/_static/fonts/Roboto-Slab-Light.woff2
/docs/build/html/_static/css/theme.css
/docs/build/html/_images/embed-false.png
/docs/build/html/_static/css/fonts/lato-normal-italic.woff2
/docs/build/html/genindex.html
/docs/build/html/_static/fonts/FontAwesome.otf
/docs/build/html/_static/fonts/lato-bold.woff2
/.idea/codeStyles/codeStyleConfig.xml
/docs/build/doctrees/developer/discord-notify-api.doctree
/docs/build/html/modules/notification-api.html
/docs/build/html/_static/images/modules/notification-api/embed-false.png
/docs/build/html/_static/css/badge_only.css
/docs/build/html/_static/fonts/lato-bold-italic.woff
/docs/build/html/_static/css/fonts/lato-normal-italic.woff
/docs/build/html/_static/minus.png
/docs/build/html/_static/css/fonts/fontawesome-webfont.woff
/docs/build/html/_static/css/fonts/Roboto-Slab-Regular.woff2
/docs/build/html/_sources/developer/discord-notify-api.rst.txt
/docs/build/html/_static/searchtools.js
/docs/build/html/_static/images/developer/notification-api/embed-true.png
/docs/build/html/_static/images/developer/discord-notify-api/embed-true.png
/docs/build/html/_static/fonts/lato-normal-italic.woff
/docs/build/html/_static/images/developer/discord-notify-api/header.jpeg
/docs/build/html/_static/fonts/Lato/lato-italic.woff2
/docs/build/html/_static/fonts/fontawesome-webfont.woff
/docs/build/html/_static/css/fonts/fontawesome-webfont.woff2
/docs/build/html/_static/images/developer/teams-notify-api/embed-false.png
